/* 头部 */
.ccc{
	/* 弹性盒子 */
	display: flex;
	/* 
	弹性盒子的主轴
		将里面的元素大小均摊给弹性盒子
	 */
	justify-content: space-between;
}

div p{
	font-size: 20px;
}

.aaa{
	width: 80px;
	height: 70px;
	text-align: center;
	line-height: 70px;
	color: #000000;
}

.aaa:hover{
	border: 1px solid #b6b6b6;
	border-radius: 20px;
	color: green;
}

/* ------------------------------------------------------- */

/* div{
	border: 1px solid red;
} */

.img1{
	width: 100%;
	height: 80px;
}

.div1{
	width: 100%;
	height: 70px;
}

.img2{
	width: 80px;
	height: 104px;
}

.div3{
	width: 100%;
	height: 104px;
	
	/*居中*/
	display: flex;
	justify-content: center;/*垂直居中*/
	align-items: center;/*水平居中*/
}

.div4{
	width: 300px;
	height: 50px;
	/*居中*/
	display: flex;
	justify-content: center;/*垂直居中*/
	align-items: center;/*水平居中*/
	position: relative;
	left: 900px;
}

.div5{
	width: 300px;
	height: 60px;
	position: relative;
	left: 1000px;
}

.img3{
	width: 150px;
	height: 195px;
}

span{
	font-size: 18px;
	color: aliceblue;
	font-family: '华文彩云';
}

/* 尾部 */

#hind{
	margin-top: 70px;
	font-size: 30px;
	text-align: center;
	background-color: #5e5e5e;
}

#pid{
	color: white;
}

#hind1{
	width: 100%;
	height: 300px;
	background-color: #262626;
}

#hind1_1{
	color: white;
	font-size: 16px;
	text-align: center;
}

#hind1_2{
	margin-top: 45px;
}

#hind1_3{
	margin-top: 25px;
}

#hind1_4{
	margin-top: 25px;
}

#hind1_5{
	margin-top: 25px;
}
/* -------------------------------------------------- */